html {
    font-size:10px;
    margin:0;
    padding:0;
}

#header {
    border-top-left-radius:0;
    border-top-right-radius:0;
}

.sign_in_up {
    float:right;
}

body {
    font-size:1.3rem;
    margin:0;
    padding:0;
    box-sizing:border-box;
    display:flex;
    flex-direction:column;
    min-height:100vh;
    height:100%;
}

.login_button:hover > .login_form {
    display:block;
}

.guest {
    width: 100%;
    text-align:center;
}

.signup_button {
    position:absolute;
    right:5px;
    top:0;
}

.signup_button > span {
    font-size:1.2rem;
}

.form {
    position:relative;
}

.login_form {
    display:none;
    position:fixed;
    height:100%;
    width:100%;
    z-index:9;
    top:0;
    left:0;
    background-color:rgba(0, 0, 0, 0.3);
}

.signup_form {
    z-index:10;
}

.login_form .form > div {
    margin-bottom:5px;
}

.login_form .form > div span {
    width:10%;
}

.login_form .form > div input {
    width:100%;
}

.login_form .form {
    margin: 0 auto;
    width:25%;
}

button {
    color:black;
}

.sidebar > *:not(.current_tab) {
    display:none;
}

.sidebar {
    width:30px;
    display:block;
    transition:300ms;
}

.sidebar:hover .current_tab {
    display:none;
}

.sidebar:hover > *:not(.current_tab){
    display:inherit;
}

.sidebar:hover {
    width:150px;
}

.defero_logo {
    width:50px;
    height:50px;
}

.defero_title {
    font-size:30px;
    vertical-align:top;
    margin-left:10px;
}

.person_name {
    font-weight:bold;
}

.person_email {
    font-style:italic;
}

h3 {
    margin-top:0;
}

.Block {
    background-color:#333; 
    -webkit-box-shadow:0 0 5px #333;
    color:#eee;
    padding:10px;
    border-radius:10px;
}

.textButton {
    cursor:default;
    display:inline-block;
}

#header .textButton {
    font-size:2rem;
    border:1px solid white;
    padding:5px;
    border-radius:5px;
}

.textButton:hover {
    text-decoration:underline;    
}

.content_view {
    display:flex;
    flex-direction:row;
    flex:1;
    margin-top:10px;
}

.content_view rooms {
    flex: 1;
    margin-left:10px;
    border-bottom-right-radius:0;
}

.content_view .sidebar {
    border-bottom-left-radius:0;
}

.tab {
    display:inline-block;
    padding:5px;
    font-size:1.5rem;
    background-color:#666;
    cursor:pointer;
    margin-left:0;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.tab:hover, .tab_active { 
    background-color:#999;    
}

.sidebar_tabs {
    margin-top:5px;
}

.sidebar input {
    width:auto;
    max-width:100%;
    display:inline;
}

rooms-list .textButton {
    font-size:2rem;
    display:block;
    font-weight:bold;
}

