contact-list {
    font-size:2rem;
}

.contact:hover .person_email {
    visibility:visible;
}

.remove_contact {
    font-family:monospace
}

.add_new_contact {
    margin-top:25px;
}

.add_new_contact_confirm {
    vertical-align:middle;
    font-weight:bold;
    margin-top:25px;
}

contact-list .person_email {
    margin-left:3px;
    color:#ccc;
    font-size:1.3rem;
    visibility:hidden;
}

