room {
    border:1px solid white;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    position:relative;
}

room .room_video_display {
    height:60%;
}

room .video_settings {
    text-align:right;
    border-bottom:1px solid white;
}

room .video_settings > div {
    display:inline-block;
}

room .room_info {
    height:40%;
    border-top:1px solid white;
    display:flex;
}

room users_in_chat {
    flex:1;
    position:relative;
    display:inline-block;
    height:100%;
    box-sizing:border-box;
    border-right:1px solid white;
}

room chat_box {
    box-sizing:border-box;
    display:inline-block;
    height:100%;
    flex:3;
    display:flex;
    flex-direction:column;
}

room chat_box .chat_content {
    flex:2;
}

room chat_box textarea {
    width:100%;
    color:black;
}

room chat_box .text_input {
    display:flex;
    flex-direction:row;
}

room chat_box .confirm_text {
    padding-left:10px;
    padding-right:10px;
    background-position:center;
}

.call {
    position:absolute;
    top:5px;
    right:5px;
}