rooms {
    padding-top:0;
    display:flex;
    flex-direction:column;    
}

rooms .rooms_container {
    flex:1;
    position:relative;
}

rooms .tab {
    display:inline-block;
    padding:5px;
    font-size:1.5rem;
    background-color:#666;
    cursor:pointer;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

rooms .tab:hover, rooms .tab:first-child { 
    background-color:#999;    
}

rooms room {
    display:none;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

rooms room:first-child {
    display:block;
}

.remove_room {
    border-radius:30px;
    cursor:default;
    font-size:1rem;
    text-align:center;
    padding:3px;
}

.remove_room:hover {
    background-color:red;    
}