user {
    display:block;
}

user .person_menu {
    z-index:2;
    position:absolute;
    top:0;
    left:100%;
    display:none;
    box-shadow:0 0 5px #222;
}

user:hover .person_menu {
    display:block;
}

.person_menu_selection {
    white-space:nowrap;
}

.person_menu .textButton {
    display:block;
}

.person_name {
    position:relative;
}