﻿@{
    ViewBag.Title = "Defero Install Guide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>Defero Install Guide</title>
<div class="guideContainer">
    <md-toolbar class="md-padding md-whiteframe-z1" layout="row" id="header">
        <div flex>
            <span class="logo_container">
                <a href="~/"><img class="logo" src="@Url.Content("~/Images/logo.png")" /></a>
                <span class="logo_name">Defero</span>
            </span>
        </div>
    </md-toolbar>

    <section class="guide">
        <h1>
            Defero Install Guide
        </h1>
        <p>
            This is a quick, picture heavy, guide to get Defero running and accessible within a LAN environment. We assume you are starting with a brand new install of Windows and no other programs installed. This will not walk you through setting up DNS or any kind of advanced settings. Click the defero icon in the top left at anytime to return the the defero home page.
         </p>
        <p>
            Read the minimum requirements and the choose the guide that is best for you.
        </p>
        <h2>
            Minimum software requirements:
        </h2>
        <ul>
            <li>Windows 8, Windows Server 2012, or newer</li>
            <li>IIS 8.0 or newer</li>
            <li>Microsoft SQL Server 2012 Express or newer</li>
        </ul>
        <p>
            <h3>Required Files:</h3>
            <ul>
                <li><a href="~/Files/Install_Guide/defero_install_files.zip">Defero Install Files</a></li>
                <li>SQL 2012 Express Install: Available on Microsofts website.</li>
            </ul>
            <h3>Optional Files</h3>
            <ul>
                <li>SQL Server Management Studio: Available on Microsofts website</li>
            </ul>
        </p>
        <h3>Available Guides</h3>
        <ul>
            <!--<li><a href="/InstallGuide/win8InstallGuide">Windows 8 install guide</a></li>-->
            <li><a href="/InstallGuide/winServerInstallGuide">Windows Server 2012 install guide</a></li>
        </ul>
    </section>
</div>
