﻿@{
    ViewBag.Title = "win8InstallGuide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>Defero Install Guide</title>
<md-toolbar class="md-padding md-whiteframe-z1" layout="row" id="header">
    <div flex>
        <span class="logo_container" ng-click="toggle_nav()">
            <!-- From: http://codepen.io/kabadesu/pen/qvdzK -->
            <div ng-show="logged_in && not_guest_user()" class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <img class="logo" src="@Url.Content("~/Images/logo.png")" />
            <span class="logo_name">Defero</span>
        </span>
    </div>
</md-toolbar>

<section id="win8InstallGuide">
    <h2>
        Windows 8 Install Guide
    </h2>
    <ol></ol>
</section>
