﻿@{
    ViewBag.Title = "winServerInstallGuide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function showGuide(_stepToShow) {
        if (_stepToShow !== "installIIS") {
            var toHide = document.getElementById("installIIS");
            toHide.hidden = true;
        }
        if (_stepToShow !== "installSQL") {
            var toHide = document.getElementById("installSQL");
            toHide.hidden = true;
        }
        if (_stepToShow !== "setIP") {
            var toHide = document.getElementById("setIP");
            toHide.hidden = true;
        }
        if (_stepToShow !== "selfSignedCertificate") {
            var toHide = document.getElementById("selfSignedCertificate");
            toHide.hidden = true;
        }
        if (_stepToShow !== "createWebsite") {
            var toHide = document.getElementById("createWebsite");
            toHide.hidden = true;
        }
        if (_stepToShow !== "appPoolSettings") {
            var toHide = document.getElementById("appPoolSettings");
            toHide.hidden = true;
        }
        if (_stepToShow !== "importWebsite") {
            var toHide = document.getElementById("importWebsite");
            toHide.hidden = true;
        }

        var toShow = document.getElementById(_stepToShow);
        if (toShow) {
            toShow.hidden = !toShow.hidden;
        }
    }
</script>

<title>Defero Install Guide</title>
<div class="guideContainer">
    <md-toolbar class="md-padding md-whiteframe-z1" layout="row" id="header">
        <div flex>
            <span class="logo_container">
                <a href="~/"><img class="logo" src="@Url.Content("~/Images/logo.png")" /></a>
                <span class="logo_name">Defero</span>
            </span>
        </div>
    </md-toolbar>

    <section id="server2012InstallGuide" class="guideStep">
        <h2>
            Windows Server Defero Install Guide
        </h2>
        <ol>
            <li><a href="" onclick="showGuide('installIIS')">Install IIS</a></li>
            <li><a href="" onclick="showGuide('installSQL')">Install SQL</a></li>
            <li><a href="" onclick="showGuide('setIP')">Set Static IP</a></li>
            <li><a href="" onclick="showGuide('selfSignedCertificate')">Create Self Signed Certificate</a></li>
            <li><a href="" onclick="showGuide('createWebsite')">Add website to IIS</a></li>
            <li><a href="" onclick="showGuide('appPoolSettings')">Change App Pool Setting</a></li>
            <li><a href="" onclick="showGuide('importWebsite')">Import Website into IIS</a></li>
        </ol>
    </section>
    <section class="guideStep" hidden id="installIIS">
        <nav><a href="" onclick="showGuide('installSQL')" class="nextStep">Next</a></nav>
        <h3>Install IIS</h3>
        <ol>
            <li>
                <p>Open up Server Manager.</p>
                <a href="~/Images/install_guide/IIS_Install/1.png" target="_blank"><img src="~/Images/install_guide/IIS_Install/1.png" /></a>
            </li>
            <li>
                <p>Click on "Local Server" in the left hand column.</p>
                <a href="~/Images/install_guide/IIS_Install/2.png" target="_blank"><img src="~/Images/install_guide/IIS_Install/2.png" /></a>
            </li>
            <li>
                <p>Scroll down to the bottom where it says "Roles and Features". To the right, you will see a button labeled "Tasks".</p>
                <a href="~/Images/install_guide/IIS_Install/3.png" target="_blank"><img src="~/Images/install_guide/IIS_Install/3.png" /></a>
            </li>
            <li>
                <p>Click on the "Tasks" drop down menu and select "Add Roles and Features".</p>
                <a href="~/Images/install_guide/IIS_Install/4.png" target="_blank"><img src="~/Images/install_guide/IIS_Install/4.png" /></a>
            </li>
            <li>
                <p>A new window will appear. Click the Next button.</p>
                <a href="~/Images/install_guide/IIS_Install/5.png" target="_blank"><img src="~/Images/install_guide/IIS_Install/5.png" /></a>
            </li>
            <li>
                <p>Leave the default selections and click the Next button.</p>
                <a href="~/Images/install_guide/IIS_Install/6.png" target="_blank"><img src="~/Images/install_guide/IIS_Install/6.png" /></a>
            </li>
            <li>
                <p>Again, leave the default options and click the Next button.</p>
                <a href="~/Images/install_guide/IIS_Install/7.png" target="_blank"><img src="~/Images/install_guide/IIS_Install/7.png" /></a>
            </li>
            <li>
                <p>Scroll down until you see "Web Server (IIS)" and check the box to the left which signifies you want to install this role.</p>
                <a href="~/Images/install_guide/IIS_Install/8.png" target="_blank"><img src="~/Images/install_guide/IIS_Install/8.png" /></a>
            </li>
            <li>
                <p>Now click the Next button.</p>
                <a href="~/Images/install_guide/IIS_Install/9.png" target="_blank"><img src="~/Images/install_guide/IIS_Install/9.png" /></a>
            </li>
            <li>
                <p>Click the side arrow next to ".NET 4.5 Features" to show more options. Check the box to the left of "ASP.NET 4.5".</p>
                <a href="~/Images/install_guide/IIS_Install/10.png" target="_blank"><img src="~/Images/install_guide/IIS_Install/10.png" /></a>
            </li>
            <li>
                <p>Click the Next button at the bottom.</p>
                <a href="~/Images/install_guide/IIS_Install/11.png" target="_blank"><img src="~/Images/install_guide/IIS_Install/11.png" /></a>
            </li>
            <li>
                <p>Click the Next button.</p>
                <a href="~/Images/install_guide/IIS_Install/12.png" target="_blank"><img src="~/Images/install_guide/IIS_Install/12.png" /></a>
            </li>
            <li>
                <p>Scroll down and click the arrow next to "Appication Development" to show more options.</p>
                <a href="~/Images/install_guide/IIS_Install/13.png" target="_blank"><img src="~/Images/install_guide/IIS_Install/13.png" /></a>
            </li>
            <li>
                <p>In the subtree, check the box next to "ASP.NET 4.5".</p>
                <a href="~/Images/install_guide/IIS_Install/14.png" target="_blank"><img src="~/Images/install_guide/IIS_Install/14.png" /></a>
            </li>
            <li>
                <p>Another window may appeaer, if so click on "Add Features".</p>
                <a href="~/Images/install_guide/IIS_Install/15.png" target="_blank"><img src="~/Images/install_guide/IIS_Install/15.png" /></a>
            </li>
            <li>
                <p>Scroll down a little more and check the box to the left of "WebSocket Protocol".</p>
                <a href="~/Images/install_guide/IIS_Install/16.png" target="_blank"><img src="~/Images/install_guide/IIS_Install/16.png" /></a>
            </li>
            <li>
                <p>Now click the Next button at the bottom.</p>
                <a href="~/Images/install_guide/IIS_Install/17.png" target="_blank"><img src="~/Images/install_guide/IIS_Install/17.png" /></a>
            </li>
            <li>
                <p>Check the box next to "Restart the destination server automatically", this will allow the install to automatically restart if it needs to.</p>
                <a href="~/Images/install_guide/IIS_Install/18.png" target="_blank"><img src="~/Images/install_guide/IIS_Install/18.png" /></a>
            </li>
            <li>
                <p>Click "Yes" on the window that pops up.</p>
                <a href="~/Images/install_guide/IIS_Install/19.png" target="_blank"><img src="~/Images/install_guide/IIS_Install/19.png" /></a>
            </li>
            <li>
                <p>Now click the "Install" button and wait for it to say everything has completed successfully.</p>
                <a href="~/Images/install_guide/IIS_Install/20.png" target="_blank"><img src="~/Images/install_guide/IIS_Install/20.png" /></a>
            </li>
        </ol>
        <nav><a href="" onclick="showGuide('installSQL')" class="nextStep">Next</a></nav>
    </section>
    <section class="guideStep" hidden id="installSQL">
        <nav><a href="" onclick="showGuide('installIIS')" class="previousStep">Previous</a><a href="" onclick="showGuide('setIP')" class="nextStep">Next</a></nav>
        <h3>Install SQL Express</h3>
        <ol>
            <li>
                <p>Download the appropriate SQL Express installer file and double click on it to start the installation process.</p>
                <a href="~/Images/install_guide/SQL_Install/1.png" target="_blank"><img src="~/Images/install_guide/SQL_Install/1.png" /></a>
            </li>
            <li>
                <p>Make sure "Installation" is selected in the left hand column. Then click on "New SQL Server stand-alone installation..." off to the right to start installing SQL Server.</p>
                <a href="~/Images/install_guide/SQL_Install/2.png" target="_blank"><img src="~/Images/install_guide/SQL_Install/2.png" /></a>
            </li>
            <li>
                <p>After the program extracts the required files, a window will appear. Check the box next to "I accept the license terms".</p>
                <a href="~/Images/install_guide/SQL_Install/3.png" target="_blank"><img src="~/Images/install_guide/SQL_Install/3.png" /></a>
            </li>
            <li>
                <p>Click the Next button</p>
                <a href="~/Images/install_guide/SQL_Install/4.png" target="_blank"><img src="~/Images/install_guide/SQL_Install/4.png" /></a>
            </li>
            <li>
                <p>Leave all options to the defaults and click the Next button.</p>
                <a href="~/Images/install_guide/SQL_Install/5.png" target="_blank"><img src="~/Images/install_guide/SQL_Install/5.png" /></a>
            </li>
            <li>
                <p>Wait while the programs checks for updates.</p>
                <a href="~/Images/install_guide/SQL_Install/6.png" target="_blank"><img src="~/Images/install_guide/SQL_Install/6.png" /></a>
            </li>
            <li>
                <p>Leave the default options and click the Next button.</p>
                <a href="~/Images/install_guide/SQL_Install/7.png" target="_blank"><img src="~/Images/install_guide/SQL_Install/7.png" /></a>
            </li>
            <li>
                <p>Leave all default options and click the Next button.</p>
                <a href="~/Images/install_guide/SQL_Install/8.png" target="_blank"><img src="~/Images/install_guide/SQL_Install/8.png" /></a>
            </li>
            <li>
                <p>Click the Next button.</p>
                <a href="~/Images/install_guide/SQL_Install/9.png" target="_blank"><img src="~/Images/install_guide/SQL_Install/9.png" /></a>
            </li>
            <li>
                <p>Make sure "Windows authentication mode" is selected and then click the Next button.</p>
                <a href="~/Images/install_guide/SQL_Install/10.png" target="_blank"><img src="~/Images/install_guide/SQL_Install/10.png" /></a>
            </li>
            <li>
                <p>Click the Next button one more time.</p>
                <a href="~/Images/install_guide/SQL_Install/11.png" target="_blank"><img src="~/Images/install_guide/SQL_Install/11.png" /></a>
            </li>
            <li>
                <p>Wait for the software to complete the install.</p>
                <a href="~/Images/install_guide/SQL_Install/12.png" target="_blank"><img src="~/Images/install_guide/SQL_Install/12.png" /></a>
            </li>
            <li>
                <p>Click the Close button to exit the SQL installer.</p>
                <a href="~/Images/install_guide/SQL_Install/13.png" target="_blank"><img src="~/Images/install_guide/SQL_Install/13.png" /></a>
            </li>
        </ol>
        <nav><a href="" onclick="showGuide('installIIS')" class="previousStep">Previous</a><a href="" onclick="showGuide('setIP')" class="nextStep">Next</a></nav>
    </section>
    <section class="guideStep" hidden id="setIP">
        <nav><a href="" onclick="showGuide('installSQL')" class="previousStep">Previous</a><a href="" onclick="showGuide('selfSignedCertificate')" class="nextStep">Next</a></nav>
        <h3>Set Static IP</h3>
        <ol>
            <li>
                <p>Right click on the networking icon in the bottom right hand corner.</p>
                <a href="~/Images/install_guide/Static_IP/1.png" target="_blank"><img src="~/Images/install_guide/Static_IP/1.png" /></a>
            </li>
            <li>
                <p>Then select the "Open Network and Sharing Center" option/</p>
                <a href="~/Images/install_guide/Static_IP/2.png" target="_blank"><img src="~/Images/install_guide/Static_IP/2.png" /></a>
            </li>
            <li>
                <p>Click on the "Change adpater settings" link in the left hand column.</p>
                <a href="~/Images/install_guide/Static_IP/3.png" target="_blank"><img src="~/Images/install_guide/Static_IP/3.png" /></a>
            </li>
            <li>
                <p>Find your appropriate network adapter, right click on it, and then select "Properties".</p>
                <a href="~/Images/install_guide/Static_IP/4.png" target="_blank"><img src="~/Images/install_guide/Static_IP/4.png" /></a>
            </li>
            <li>
                <p>You may need to scroll down to find "Internet Protocol Version 4 (TCP/IPv4)", once you find it double click on it.</p>
                <a href="~/Images/install_guide/Static_IP/5.png" target="_blank"><img src="~/Images/install_guide/Static_IP/5.png" /></a>
            </li>
            <li>
                <p>Enter in the IP address, subnet mask, default gateway, and DNS servers you want this computer to use. Then press the OK button.</p>
                <a href="~/Images/install_guide/Static_IP/6.png" target="_blank"><img src="~/Images/install_guide/Static_IP/6.png" /></a>
            </li>
            <li>
                <p>Press the OK button again to close the "properties" window.</p>
                <a href="~/Images/install_guide/Static_IP/7.png" target="_blank"><img src="~/Images/install_guide/Static_IP/7.png" /></a>
            </li>
        </ol>
        <nav><a href="" onclick="showGuide('installSQL')" class="previousStep">Previous</a><a href="" onclick="showGuide('selfSignedCertificate')" class="nextStep">Next</a></nav>
    </section>
    <section class="guideStep" hidden id="selfSignedCertificate">
        <nav><a href="" onclick="showGuide('setIP')" class="previousStep">Previous</a><a href="" onclick="showGuide('createWebsite')" class="nextStep">Next</a></nav>
        <h3>Create Self Signed Certificate</h3>
        <ol>
            <li>
                <p>Open up Internet Information Services (IIS).</p>
                <a href="~/Images/install_guide/Self_Signed_Certificate/1.png" target="_blank"><img src="~/Images/install_guide/Self_Signed_Certificate/1.png" /></a>
            </li>
            <li>
                <p>Select your web server instance in the left hand column.</p>
                <a href="~/Images/install_guide/Self_Signed_Certificate/2.png" target="_blank"><img src="~/Images/install_guide/Self_Signed_Certificate/2.png" /></a>
            </li>
            <li>
                <p>You may get this piop up if Web Platform is not installed, for now just press no.</p>
                <a href="~/Images/install_guide/Self_Signed_Certificate/3.png" target="_blank"><img src="~/Images/install_guide/Self_Signed_Certificate/3.png" /></a>
            </li>
            <li>
                <p>Look for Server Certificates inder the IIS heading and click on it.</p>
                <a href="~/Images/install_guide/Self_Signed_Certificate/4.png" target="_blank"><img src="~/Images/install_guide/Self_Signed_Certificate/4.png" /></a>
            </li>
            <li>
                <p>In the right hand column, click on "Create Self-Signed Certificate".</p>
                <a href="~/Images/install_guide/Self_Signed_Certificate/5.png" target="_blank"><img src="~/Images/install_guide/Self_Signed_Certificate/5.png" /></a>
            </li>
            <li>
                <p>Now type in a name for this certificate, it can be whatever you want.</p>
                <a href="~/Images/install_guide/Self_Signed_Certificate/6.png" target="_blank"><img src="~/Images/install_guide/Self_Signed_Certificate/6.png" /></a>
            </li>
            <li>
                <p>Select the type of the certificate, we chose "Web Hosting" because Defero is a website.</p>
                <a href="~/Images/install_guide/Self_Signed_Certificate/7.png" target="_blank"><img src="~/Images/install_guide/Self_Signed_Certificate/7.png" /></a>
            </li>
            <li>
                <p>Press the "OK" button to complete the process.</p>
                <a href="~/Images/install_guide/Self_Signed_Certificate/8.png" target="_blank"><img src="~/Images/install_guide/Self_Signed_Certificate/8.png" /></a>
            </li>
        </ol>
        <nav><a href="" onclick="showGuide('setIP')" class="previousStep">Previous</a><a href="" onclick="showGuide('createWebsite')" class="nextStep">Next</a></nav>
    </section>
    <section class="guideStep" hidden id="createWebsite">
        <nav><a href="" onclick="showGuide('selfSignedCertificate')" class="previousStep">Previous</a><a href="" onclick="showGuide('appPoolSettings')" class="nextStep">Next</a></nav>
        <h3>Create Website</h3>
        <ol>
            <li>
                <p>
                    Open IIS on your computer. Then, in the left column click on your server to expand the tree. The right click on "Sites" and then select "Add Site".
                </p>
                <a href="~/Images/install_guide/Website_Creation/1.png" target="_blank"><img src="~/Images/install_guide/Website_Creation/1.png" /></a>
            </li>
            <li>
                <p>
                    Now enter in a name for the site, this name does not affect anything other than the app pool name, which will not affect what we do in this guide.
                </p>
                <a href="~/Images/install_guide/Website_Creation/2.png" target="_blank"><img src="~/Images/install_guide/Website_Creation/2.png" /></a>
            </li>
            <li>
                <p>
                    Now, we need to tell IIS where we the website content will be stored.
                </p>
                <a href="~/Images/install_guide/Website_Creation/3.png" target="_blank"><img src="~/Images/install_guide/Website_Creation/3.png" /></a>

                <p>
                    We are going saving the files in a folder called Defero, again you can save this anywhere.
                </p>
                <a href="~/Images/install_guide/Website_Creation/4.png" target="_blank"><img src="~/Images/install_guide/Website_Creation/4.png" /></a>
                <p>
                    Press ok to finish this part.
                </p>
                <a href="~/Images/install_guide/Website_Creation/5.png" target="_blank"><img src="~/Images/install_guide/Website_Creation/5.png" /></a>
            </li>
            <li>
                <p>
                    Now, select the IP address that this server will be listening on. We recommend that you select the static IP you set in the previous steps, but you can leave it to set to "All Unassigned".
                </p>
                <a href="~/Images/install_guide/Website_Creation/6.png" target="_blank"><img src="~/Images/install_guide/Website_Creation/6.png" /></a>
                <p>
                    Click the drop down menu and select the static IP.
                </p>
                <a href="~/Images/install_guide/Website_Creation/7.png" target="_blank"><img src="~/Images/install_guide/Website_Creation/7.png" /></a>
            </li>
            <li>
                <p>
                    Now press the "OK" button.
                </p>
                <a href="~/Images/install_guide/Website_Creation/8.png" target="_blank"><img src="~/Images/install_guide/Website_Creation/8.png" /></a>
            </li>
            <li>
                <p>
                    The new site will show in the left hand corner underneath the "Sites" option. We need to tell our website to accept https requests.
                    Find the site listed and right click on it. Now select "Edit Bindings."
                </p>
                <a href="~/Images/install_guide/Website_Creation/9.png" target="_blank"><img src="~/Images/install_guide/Website_Creation/9.png" /></a>
            </li>
            <li>
                <p>
                    Click the "Add" button that is off to the right.
                </p>
                <a href="~/Images/install_guide/Website_Creation/10.png" target="_blank"><img src="~/Images/install_guide/Website_Creation/10.png" /></a>
            </li>
            <li>
                <p>
                    Under type, click the drop down menu and select "HTTPS"
                </p>
                <a href="~/Images/install_guide/Website_Creation/11.png" target="_blank"><img src="~/Images/install_guide/Website_Creation/11.png" /></a>
            </li>
            <li>
                <p>
                    Now, under IP address we select the static IP that was previously set. Again, you can leave it to "All Unassigned."
                </p>
                <a href="~/Images/install_guide/Website_Creation/12.png" target="_blank"><img src="~/Images/install_guide/Website_Creation/12.png" /></a>
            </li>
            <li>
                <p>
                    Next, select a certificate that is presented to incoming HTTPS connections. When you click on the drop down box, the self signed certificate we created earlier should show up as an option.
                </p>
                <a href="~/Images/install_guide/Website_Creation/13.png" target="_blank"><img src="~/Images/install_guide/Website_Creation/13.png" /></a>
            </li>
            <li>
                <p>
                    Press "OK" to finish adding the binding.
                    <br />
                    Note: You can edit these bindings to only accecpt responses to the specified domain. This is helpful if you are hosting more than one site. However, this guide is for a LAN and that would require DNS to be functioning, within your local netowrk which is outside the scope of this guide.
                </p>
                <a href="~/Images/install_guide/Website_Creation/14.png" target="_blank"><img src="~/Images/install_guide/Website_Creation/14.png" /></a>
            </li>
            <li>
                <p>
                    Press the "OK" button again.
                </p>
                <a href="~/Images/install_guide/Website_Creation/15.png" target="_blank"><img src="~/Images/install_guide/Website_Creation/15.png" /></a>
            </li>
        </ol>
        <nav><a href="" onclick="showGuide('selfSignedCertificate')" class="previousStep">Previous</a><a href="" onclick="showGuide('appPoolSettings')" class="nextStep">Next</a></nav>
    </section>
    <section class="guideStep" hidden id="appPoolSettings">
        <nav><a href="" onclick="showGuide('createWebsite')" class="previousStep">Previous</a><a href="" onclick="showGuide('importWebsite')" class="nextStep">Next</a></nav>
        <h3>Change App Pool Settings</h3>
        <ol>
            <li>
                <p>
                    In order for IIS to properly communicate with the SQL database, we need to tell the pool what authentication information to use. With IIS still open, find "App Pools" in the left hand column.
                </p>
                <a href="~/Images/install_guide/Change_AppPool_Settings/1.png" target="_blank"><img src="~/Images/install_guide/Change_AppPool_Settings/1.png" /></a>
            </li>
            <li>
                <p>
                    You will see list of "Pools", in this list you should see one with the same name that you gave your website. Right click on this and select "Advance Settings."
                </p>
                <a href="~/Images/install_guide/Change_AppPool_Settings/2.png" target="_blank"><img src="~/Images/install_guide/Change_AppPool_Settings/2.png" /></a>
            </li>
            <li>
                <p>
                    Scroll down until you see the "Identity" setting. Should be located below "Process Model". Off to the right you will see "...", click on this button.
                </p>
                <a href="~/Images/install_guide/Change_AppPool_Settings/3.png" target="_blank"><img src="~/Images/install_guide/Change_AppPool_Settings/3.png" /></a>
            </li>
            <li>
                <p>
                    Select the "Custom Account" option and then click set.
                </p>
                <a href="~/Images/install_guide/Change_AppPool_Settings/4.png" target="_blank"><img src="~/Images/install_guide/Change_AppPool_Settings/4.png" /></a>
            </li>
            <li>
                <p>
                    We are assuming that you are signed in as an Administrative user, and that IIS and SQL server were both setup by the same user. Under "User Name", enter in the administrative user you are using. Then enter the password in twice. Finally, click the "OK" button.
                </p>
                <a href="~/Images/install_guide/Change_AppPool_Settings/5.png" target="_blank"><img src="~/Images/install_guide/Change_AppPool_Settings/5.png" /></a>
            </li>
            <li>
                <p>
                    Click the "OK" button again to complete this process.
                </p>
                <a href="~/Images/install_guide/Change_AppPool_Settings/6.png" target="_blank"><img src="~/Images/install_guide/Change_AppPool_Settings/6.png" /></a>
            </li>
        </ol>
        <nav><a href="" onclick="showGuide('createWebsite')" class="previousStep">Previous</a><a href="" onclick="showGuide('importWebsite')" class="nextStep">Next</a></nav>
    </section>
    <section class="guideStep" hidden id="importWebsite">
        <nav><a href="" onclick="showGuide('appPoolSettings')" class="previousStep">previous</a></nav>
        <h3>Import Website</h3>
        <ol>
            <li>
                <p>
                    Finally, we must import the Defero files into IIS. Make Sure you have IIS open and select the server in the left hand column.
                </p>
                <a href="~/Images/install_guide/Import_Website/1.png" target="_blank"><img src="~/Images/install_guide/Import_Website/1.png" /></a>
            </li>
            <li>
                <p>
                    Expand the "Sites" tree.
                </p>
                <a href="~/Images/install_guide/Import_Website/2.png" target="_blank"><img src="~/Images/install_guide/Import_Website/2.png" /></a>
            </li>
            <li>
                <p>
                    Find the website that we previously created.
                </p>
                <a href="~/Images/install_guide/Import_Website/3.png" target="_blank"><img src="~/Images/install_guide/Import_Website/3.png" /></a>
            </li>
            <li>
                <p>
                    Right click on it.
                </p>
                <a href="~/Images/install_guide/Import_Website/4.png" target="_blank"><img src="~/Images/install_guide/Import_Website/4.png" /></a>
            </li>
            <li>
                <p>
                    Make sure you extract the zip file that is available on the first page. It does not matter where the files are extracted. Click on the browse button.
                </p>
                <a href="~/Images/install_guide/Import_Website/5.png" target="_blank"><img src="~/Images/install_guide/Import_Website/5.png" /></a>
            </li>
            <li>
                <p>
                    Navigate to the unzipped folder, which should be called "defero_instal_files."
                </p>
                <a href="~/Images/install_guide/Import_Website/6.png" target="_blank"><img src="~/Images/install_guide/Import_Website/6.png" /></a>
            </li>
            <li>
                <p>
                    Inside of the "defero_install_Files" there is a zip folder labeled "ProjectDefero". Select that zip.
                </p>
                <a href="~/Images/install_guide/Import_Website/7.png" target="_blank"><img src="~/Images/install_guide/Import_Website/7.png" /></a>
            </li>
            <li>
                <p>
                    Press the "Open" button.
                </p>
                <a href="~/Images/install_guide/Import_Website/8.png" target="_blank"><img src="~/Images/install_guide/Import_Website/8.png" /></a>
            </li>
            <li>
                <p>
                    Press the "Next" button.
                </p>
                <a href="~/Images/install_guide/Import_Website/9.png" target="_blank"><img src="~/Images/install_guide/Import_Website/9.png" /></a>
            </li>
            <li>
                <p>
                    Press the "Next" button.
                </p>
                <a href="~/Images/install_guide/Import_Website/10.png" target="_blank"><img src="~/Images/install_guide/Import_Website/10.png" /></a>
            </li>
            <li>
                <p>
                    Press the "Next" button.
                </p>
                <a href="~/Images/install_guide/Import_Website/11.png" target="_blank"><img src="~/Images/install_guide/Import_Website/11.png" /></a>
            </li>
            <li>
                <p>
                    You may get a warning, press the "OK" button.
                </p>
                <a href="~/Images/install_guide/Import_Website/12.png" target="_blank"><img src="~/Images/install_guide/Import_Website/12.png" /></a>
            </li>
            <li>
                <p>
                    If the site has already been imported, you will get another warning, this time select the option to delete all extra files.
                </p>
                <a href="~/Images/install_guide/Import_Website/13.png" target="_blank"><img src="~/Images/install_guide/Import_Website/13.png" /></a>
            </li>
            <li>
                <p>
                    Press the "Next" button.
                </p>
                <a href="~/Images/install_guide/Import_Website/14.png" target="_blank"><img src="~/Images/install_guide/Import_Website/14.png" /></a>
            </li>
            <li>
                <p>
                    Wait for the import to complete, and then press the "Finish" button.
                </p>
                <a href="~/Images/install_guide/Import_Website/15.png" target="_blank"><img src="~/Images/install_guide/Import_Website/15.png" /></a>
            </li>
        </ol>
        <nav><a href="" onclick="showGuide('appPoolSettings')" class="previousStep">Previous</a></nav>
    </section>
</div>