<div class="rooms_tabs">
  <div class="tab" ng-repeat="room in rooms.rooms">
    <span class="room_name">{{room.name}}</span>
    <span class="remove_room glyphicon glyphicon-remove"></span>
  </div>
  <div class="tab glyphicon glyphicon-plus"></div>  
</div>
<div class="rooms_container">
  <room ng-repeat="room in rooms.rooms"></room>
</div>
