<div class="room_video_display">
  <div class="video_settings">
    <div class="video_settings_button glyphicon
                glyphicon-facetime-video"></div>
    <div class="video_settings_button glyphicon glyphicon-volume-up"></div>
    <div class="video_settings_button glyphicon glyphicon-cog"></div>
  </div>
  <video_chat_display>
    <h3>Video</h3>
  </video_chat_display>
</div>
<div class="room_info">
  <users_in_chat>
    <h3>Users</h3>
    <div class="call glyphicon glyphicon glyphicon-earphone"></div>
  </users_in_chat>
  <chat_box>
    <h3>Chat</h3>
    <div class="chat_content"></div>
    <div class="text_input">
      <textarea>Chat here...</textarea>
      <div class="glyphicon glyphicon-chevron-right confirm_text"></div>
    </div>
  </chat_box>
</div>

