<span class="person_name textButton">
  {{user.name}}
  <div class="person_menu Block">
    <div class="person_email">{{user.email}}</div>
    <div class="person_menu_selection textButton">Add/Remove contact</div>
    <div class="person_menu_selection textButton">Call</div>
    <div class="person_menu_selection textButton">Add current room</div>
    <div class="person_menu_selection textButton">Remove from current room</div>
  </div>
</span>
