﻿<md-dialog class="about_content">
    <md-content>
        <div layout="row">
            <h3 flex="1">About</h3>
            <md-button class="md-primary" ng-click="hide()">X</md-button>
        </div>
        <div layout="row" class="person_description">
            <div layout="column">
                <h3>Project Defero</h3>
                Defero is a VoIP application that provides secure video, voice, and text communication that runs natively in your web browser. 
                With Defero you can create permanent user accounts and chat rooms to collaborate with your friends, 
                or you can join someone's existing chat room as a guest by simply following an invitation link. 
                Defero uses WebRTC to provide peer-to-peer, end-to-end-encrypted communications, so your messages are never stored on a server 
                and nobody but your friends can read the messages you send. 
                Advanced users and businesses can host private servers to further improve their security through complete ownership of their data, 
                all the way down to the user accounts and chat rooms. 
                <br/><br/>
                However you choose to use Defero, you’ll never have to install plugins or other applications: just open up your web browser and begin chatting!
            </div>
        </div>
        <h3>The Developers</h3>
        <div layout="row" class="person_description">
            <img src="~/Images/about/Joe.jpg" />
            <div layout="column">

                <h3>Joseph Cravotta</h3>
                <div>
                        Joe's primary responsibility for this project is integrating webRTC, and the technologies required for webRTC, so that we can send voice, video, and data peer to peer.
                    <p>
                        You can view more info about joe through his <a href="https://www.linkedin.com/in/josephcravotta" target="_blank">LinkedIn</a> or send an email to <a href="mailto:jdwissler@gmail.com">joe.cravotta@gmail.com</a>
</p>
                </div>
            </div>
        </div>
        <div layout="row" class="person_description">
            <img src="~/Images/about/ryan.png" />
            <div layout="column">

                <h3>Ryan Finn</h3>
                <div>
                    Ryan implemented peer-to-peer file sharing and chat messaging with chat history peer synchronization.  If you can decipher this message, then you can reach Ryan at Ryan dot Finn at Utah dot edu.
                </div>
            </div>
        </div>
        <div layout="row" class="person_description">
            <img src="~/Images/about/owen.png" />
            <div layout="column">
                <h3>Owen Krafft</h3>
                <div>
                    Owen is the backend and database guy. 
                    <div>
                        <br />
                        You can find out more about him on his <a href="https://www.linkedin.com/in/owenkrafft">LinkedIn Profile</a> and contact him by decoding "b3dlbmtyYWZmdEBnbWFpbC5jb20=".
                    </div>
                </div>
            </div>
        </div>
        <div layout="row" class="person_description">
            <img src="~/Images/about/john.jpg" />

            <div layout="column">
                <h3>John Wissler</h3>
                <div>
                    John is the primary UI programmer. He has over three years of professional experience in Javascript, HTML5, and CSS.
                    <hr />
                    You can contact him via email <a href="mailto:jdwissler@gmail.com">jdwissler@gmail.com</a>.
                    Or <a href="https://www.linkedin.com/in/jdwissler">LinkedIn</a>
                </div>
            </div>
        </div>
        <h3>Credits</h3>
        <div layout="row" class="person_description">
            <div layout="column">
                <div>
                    Smileys/emoticons are thanks to <a href="http://www.freesmileys.org/">FreeSmileys.</a> <br/>
                    Message received sound: "Waterdrop" by <a href="http://freesound.org/people/Porphyr/">Porphyr</a> / <a href="http://creativecommons.org/licenses/by/3.0/" >CC BY 3.0</a>
                    Hammer icon for admin users <a href="http://freesound.org/people/Porphyr/">VisualPharm</a> / <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>
                </div>
            </div>
        </div>
    </md-content>
</md-dialog>