﻿<md-dialog>
    <md-content>
        <form name="form" submitted="submitted" ng-submit="answer(true)">           
            <div class="form_error">{{error}}</div>
            <md-input-container ng-class="{'has-error': form.name.$invalid && submitted}">
                <label>Room name</label>
                <input type="text"
                       class="form-control"
                       id="name"
                       name="room_name"
                       placeholder="Room name"
                       ng-model="name"
                       ng-model-options="{updateOn: 'blur'}"
                       required>
            </md-input-container>

            <md-button class="md-primary">
               Create Room
            </md-button>
            <md-button type="button" ng-click="answer(false)">
                Cancel
            </md-button>

        </form>
    </md-content>
</md-dialog>
