﻿

<div ng-show="!logged_in">
   
    <md-button class="md-button md-raised md-primary md-default-theme" ng-click="auth.show_log_in()">Log In</md-button>
    <md-button class="md-button md-raised md-primary md-default-theme" ng-click="auth.show_sign_up()">Sign Up</md-button>
    <md-button class="md-button md-default-theme md-raised md-primary" style="font-size:10px; margin-left:5px;" ng-click="showAbout()">
        ?
    </md-button>
</div>
<div layout="row" ng-show="logged_in">
    <div layout="row" ng-click ="show_profile()" class="md-button md-default-theme user_image_name">
        <img class="logged_in_profile_picture" ng-src="/User/ProfilePicture?userId={{user_id}}" />
        <span class="user_name">{{auth.name}}</span>
    </div>
    
    <md-button class="md-button md-default-theme md-raised md-primary" hide-sm style="font-size:10px; margin-left:5px;" ng-click="giveFeedback()">
        Give feedback
    </md-button>
    <md-button class="md-button md-default-theme md-raised md-primary" hide-sm style="font-size:10px; margin-left:5px;" ng-click="showAbout()">
        ?
    </md-button>
   
    <md-button title="Logout" class="md-button md-default-theme md-raised md-primary" style="margin-left:5px; margin-right:5px;" ng-click="auth.logout()">
        Logout
    </md-button>
</div>
