﻿
<md-input-container ng-show="show_search" hide-sm class="search_messages_container">
    <label>Search messages</label>
    <input ng-model="search_input" ng-change="update_search()" aria-label="search messages" class="search_messages"/>
</md-input-container>

<md-list class="message_list">
    <md-item ng-class="{message_self: message.authorUserId === message.recipientUserId}" class="message" ng-repeat="message in messages track by message.uniqueIdentifier">
        <md-item-content class="message_item_content">
            <div class="md-tile-left message_person_image">
                <img class="logged_in_profile_picture" ng-src="/User/ProfilePicture?userId={{message.authorUserId}}" />
            </div>
            <div class="md-tile-right message_text">
                <span class="message_from">{{users.get_user(message.authorUserId).Username}}</span>
                <span class="message_date">{{message.timestampUTC | date:"MM/dd/yyyy 'at' h:mma"}}</span>
                <div ng-if="is_attachment(message)">
                    <div layout="row">
                        <div class="file_name">{{message.chatFileMetadata.fileName}}</div>
                        <div class="file_size">{{message.chatFileMetadata.fileSizeBytes | bytes}}</div>
                    </div>
                    <div ng-bind-html="message.messageBody | linky:'_blank' | chatFormat" class="message_content">{{message.messageBody}}</div>
                    <div ng-if="can_progress(message)">
                        <div layout="row">
                            <div><progress class="file_progress" value="{{message.chatFileMetadata.progressPercent}}" max="1.0"></progress></div>
                            <div class="file_percent">{{message.chatFileMetadata.progressPercent * 100.0 | number : 1}}%</div>
                        </div>
                    </div>
                    <div ng-if="!am_sender(message) && can_download(message)">
                        <md-button class="md-raised" ng-click="accept_attachment(message.chatFileMetadata)">
                        Accept
                    </md-button>
                        <md-button class="md-raised" ng-click="reject_attachment(message.chatFileMetadata)">
                            Reject
                        </md-button>
                    </div>
                    <div ng-if="can_cancel(message)">
                        <div ng-if="am_sender(message)">
                            <md-button class="md-raised" ng-click="cancel_attachment_send(message.chatFileMetadata)">
                                Cancel
                            </md-button>
                        </div>
                        <div ng-if="!am_sender(message)">
                            <md-button class="md-raised" ng-click="cancel_attachment_receive(message.chatFileMetadata)">
                                Cancel
                            </md-button>
                        </div>
                    </div>
                </div>               
                <div ng-if="!is_attachment(message)" ng-bind-html="message.messageBody | linky:'_blank' | chatFormat" class="message_content">{{message.messageBody}}</div>
            </div>

        </md-item-content>
    </md-item>
</md-list>
<div class="chatbox_emoticons_container" layout="row">
    <md-input-container flex="1" class="chatbox_input_container">
        <label>Message</label>
        <textarea class="chatbox_input"></textarea>
        <md-button hide-sm aria-label="emoticons_toggler" class="emoticons_toggler" ng-click="toggle_emoticons()">
            <img ng-src="/Images/emoticons/smile.gif" />
        </md-button>
    </md-input-container>
    <md-content hide-sm ng-cloak ng-show="show_emoticons" class="emoticons_content md-padding">
        <div class="emoticon_icon" ng-repeat="emoticon in emoticons">
            <md-button aria-label="emoticon" ng-click="insertEmoticon(emoticon)">
                <img ng-src="/Images/emoticons/{{emoticon}}.gif" title=":{{emoticon}}:" />
            </md-button>
        </div>
    </md-content>
</div>

