<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2 contact_list_nav" md-component-id="left">
        <md-tabs md-selected="selectedIndex">
            <md-tab id="contacts" aria-controls="contacts-content">
                Contacts
            </md-tab>
            <md-tab id="search" aria-controls="search-content" md-on-select="onSelectSearch()">
                Search
            </md-tab>
        </md-tabs>
        <ng-switch layout="column" flex on="selectedIndex" class="tabpanel-container">
            <md-content flex class="md-padding">
                <div role="tabpanel"
                     id="contacts-content"
                     aria-labelledby="contacts"
                     ng-switch-when="0"
                     md-swipe-left="next()"
                     md-swipe-right="previous()">
                    <div ng-hide="!contact_list_data.has_requests()">
                        <h3>Contact requests</h3>
                        <user layout="row" class="contact" menu_id="1" ng-repeat="user_constructor in contact_list_data.contactRequests track by user_constructor.UserId"></user>
                    </div>
                    <div ng-hide="!contact_list_data.has_pending()">
                        <h3>Pending requests</h3>
                        <user layout="row" class="contact" menu_id="1" ng-repeat="user_constructor in contact_list_data.pendingContacts track by user_constructor.UserId"></user>
                    </div>
                    <div ng-hide="!contact_list_data.has_contacts()">
                        <h3>Contacts</h3>
                        <user layout="row" class="contact" menu_id="1" ng-repeat="user_constructor in contact_list_data.contacts track by user_constructor.UserId"></user>
                    </div>
                </div>
                <div role="tabpanel"
                     id="search-content"
                     aria-labelledby="search"
                     ng-switch-when="1"
                     md-swipe-left="next()"
                     md-swipe-right="previous()">
                    <md-input-container class="search_input_container" ng-class="{'has-error': form.name.$invalid && submitted}">
                        <label>Search</label>
                        <input type="text" name="search" ng-paste="contact_list.handle_search_keydown($event)" ng-keyup="contact_list.handle_search_keydown($event)">
                    </md-input-container>
                    <user layout="row" class="contact" menu_id="0" ng-repeat="user_constructor in contact_list.searched"></user>
                </div>
            </md-content>
        </ng-switch>
</md-sidenav>
