﻿<md-dialog>
    <md-content>
        <form name="form" submitted="submitted" ng-submit="answer(true)">
            <md-input-container>
                <label>Room Name</label>
                <input name="room_name" ng-model="room_name"></input>
            </md-input-container>

            <md-button class="md-primary">
                Edit Room Name
            </md-button>
            <md-button type="button" ng-click="answer(false)">
                Cancel
            </md-button>

        </form>
    </md-content>
</md-dialog>