﻿<md-dialog>
    <md-content>
        <form name="form" submitted="submitted" ng-submit="answer()">
            <div class="form_error">{{error}}</div>
            <md-input-container ng-class="{'has-error': form.email.$invalid && submitted}">
                <label>{{get_input_name()}}</label>
                <textarea 
                       class="form-control"
                       id="input"
                       name="input"
                       placeholder="{{get_input_name()}}"
                       ng-model="input"
                       ng-model-options="{updateOn: 'blur'}"
                       required>
                    </textarea>
            </md-input-container>

            <md-button class="md-primary">
                Confirm {{get_input_name()}}
            </md-button>

            <md-button type="button" ng-click="hide()">
                Cancel
            </md-button>
            <br />
        </form>
    </md-content>
</md-dialog>
