﻿<md-dialog>
    <md-content>
        <form name="form" submitted="submitted" ng-submit="answer(true)">
            <md-input-container class="chatbox_input_container">
                <label>Feedback for defero</label>
                <textarea name="feedback" class="chatbox_input" ng-model="feedback"></textarea>
            </md-input-container>

            <md-button class="md-primary">
                Send feedback
            </md-button>
            <md-button type="button" ng-click="answer(false)">
                Cancel
            </md-button>

        </form>
    </md-content>
</md-dialog>