﻿<md-dialog>
    <md-content>
        <form name="form" submitted="submitted" ng-submit="answer(true)">             
            <md-progress-linear ng-show="logging_in" class="md-hue-2 loading_indicator_auth" md-mode="indeterminate"></md-progress-linear>      
            <div class="form_error">{{error}}</div>
            <md-input-container ng-class="{'has-error': form.email.$invalid && submitted}">
                <label>Email</label>
                <input type="email"
                       class="form-control"
                       id="email"
                       name="email"
                       placeholder="Email"
                       ng-model="email"
                       ng-model-options="{updateOn: 'blur'}"
                       required>
            </md-input-container>

            <md-input-container class="form-group" ng-class="{'has-error': form.password.$invalid && submitted}">
                <label>Password</label>
                <input type="password"
                       class="form-control"
                       id="password"
                       name="password"
                       placeholder="Password"
                       ng-model="password"
                       ng-model-options="{updateOn: 'blur'}"
                       required>
            </md-input-container>
            <md-checkbox md-no-ink aria-label="remember" ng-model="remember" class="md-primary">
                Remember me
            </md-checkbox>
            <md-button class="md-primary">
                Log in
            </md-button>
            
            <md-button type="button" ng-click="answer(false)">
                Cancel
            </md-button>
            <br />
            
            <md-button class="md-primary login_guest" ng-click="log_in_guest()">
                Log in as Guest
            </md-button>         
        </form>
    </md-content>
</md-dialog>