﻿<md-dialog>
    <md-content>
        <form name="form" submitted="submitted" ng-submit="answer(true)">
            <md-progress-linear ng-show="logging_in" class="md-hue-2 loading_indicator_auth" md-mode="indeterminate"></md-progress-linear>
            <div class="form_error">{{error}}</div>
            <md-input-container ng-class="{'has-error': form.username.$invalid && submitted}">
                <label>Username</label>
                <input type="text"
                       class="form-control"
                       id="username"
                       name="username"
                       placeholder="Username"
                       ng-model="username"
                       ng-model-options="{updateOn: 'blur'}"
                       required>
            </md-input-container>

            <md-button class="md-primary">
                Log in
            </md-button>

            <md-button type="button" ng-click="answer(false)">
                Cancel
            </md-button>            
        </form>
    </md-content>
</md-dialog>