﻿<md-dialog>
    <md-content>
        <form name="form" submitted="submitted" ng-submit="answer(true)">
            <md-progress-linear ng-show="signing_up" class="md-hue-2 loading_indicator_auth" md-mode="indeterminate"></md-progress-linear>
            <div class="form_error">{{error}}</div>
            <md-input-container ng-class="{'has-error': form.name.$invalid && submitted}">
                <label>Username</label>
                <input type="text"
                       class="form-control"
                       id="name"
                       name="name"
                       placeholder="Name"
                       ng-model="name"
                       ng-model-options="{updateOn: 'blur'}"
                       required>
            </md-input-container>
            <md-input-container ng-class="{'has-error': form.email.$invalid && submitted}">
                <label>Email</label>
                <input type="email"
                       class="form-control"
                       id="email"
                       name="email"
                       placeholder="Email"
                       ng-model="email"
                       ng-model-options="{updateOn: 'blur'}"
                       required>
            </md-input-container>
            <md-input-container ng-class="{'has-error': form.password.$invalid && submitted}">
                <label>Password</label>
                <input type="password"
                       class="form-control"
                       id="password"
                       name="password"
                       placeholder="Password"
                       ng-model="password"
                       ng-model-options="{updateOn: 'blur'}"
                       required>
            </md-input-container>
            <md-input-container ng-class="{'has-error': form.password.$invalid && submitted}">
                <label>Confirm Password</label>
                <input type="password"
                       class="form-control"
                       id="confirm_password"
                       name="confirm_password"
                       placeholder="Confirm Password"
                       ng-model="confirm_password"
                       ng-model-options="{updateOn: 'blur'}"
                       required>
            </md-input-container>
            <md-button class="md-primary">
                Sign up
            </md-button>
            <md-button type="button" ng-click="answer(false)">
                Cancel
            </md-button>
        </form>
    </md-content>
</md-dialog>
