<div layout="row" flex class="room_container">
    <div layout="column" flex >
        <div ng-if="inCall && focused !== -1 && (peersInCall[focused] || focused === user_id)" layout="column" flex="3" class="focused_video_container">
            <localvideostream ng-if="focused === user_id && inCall" class="video_container"></localvideostream>
            <videostream ng-if="focused !== user_id && focused !== -1" ng-repeat="(id, stream) in peersInCall | focused:focused_object" class="video_container"></videostream>
        </div>
        <md-content ng-show="inCall" class="video_displays md-whiteframe-z1" layout="row">
            <localvideostream ng-if="focused !== user_id && inCall" class="video_container"></localvideostream>
            <videostream name="{{id}}" class="video_container" ng-repeat="(id, stream) in peersInCall | not_focused:focused_object"></videostream>
        </md-content>
        <md-content class="room_toolbar md-whiteframe-z1" layout="row">
            <md-button class="md-button md-default-theme md-button-primary md-raised md-primary" ng-click="messages_shown ? hide_messages() : show_messages()">
                {{messages_shown ? "Hide Messages" : "Show Messages"}}
            </md-button>
            <!-- <md-button class="md-button md-default-theme md-button-primary md-raised" ng-click="videos_shown ? hide_videos() : show_videos()">
                 {{videos_shown ? "Hide Videos" : "Show Videos"}}
             </md-button>  -->
            <md-button ng-class="{in_call: callInProgress}" class="md-button md-default-theme md-raised md-primary join_leave_call" ng-click="inCall ? room.leaveCall() : room.joinCall()">
                {{callInProgress ? (inCall ? "Leave Call" : "Join Call") : "Start Call"}}
            </md-button>
            <md-button class="md-button md-default-theme md-raised md-primary" hide-sm ng-click="toggle_search()">
                Search
            </md-button>
            <md-button class="md-button md-default-theme md-raised md-primary" hide-sm ng-click="share_room()">
                Share
            </md-button>
            <div flex="1"></div>
            <md-button ng-show="am_admin()" class="md-button md-default-theme md-button-primary md-raised md-primary" hide-sm ng-click="room.edit_name()">Edit Name</md-button>
            <md-button class="md-button md-default-theme md-button-primary md-raised md-primary" ng-click="room.leave_room()">Leave Room</md-button>
            <md-button hide-gt-lg class="md-button md-default-theme md-button-primary md-raised md-primary" ng-click="room.toggle_users()">Users</md-button>
        </md-content>
        <chat_box ng-show="messages_shown" class="md-whiteframe-z1" layout="column"></chat_box>
    </div>
    <!-- We should resolve this nav bar issue in a better way. Basically i am using the scope from mdsidenavname to give scope to the md-sidenav-->
    <md-sidenav md-is-locked-open="$mdMedia('gt-lg')" mdsidenavname="{}" class="md-sidenav-right md-whiteframe-z1 users_sidenav">
        <div class="users_header_main md-padding" layout="row">
            <div class="users_header" flex>Users in Room({{(room.get_users() | not_self:user_id).length}})</div>
            <md-button hide-gt-lg class="md-button md-default-theme md-button-primary md-raised md-primary" ng-click="room.toggle_users()">X</md-button>
        </div>
        <md-content class="room_users md-padding" flex>
            <user layout="row" class="contact" ng-repeat="user_constructor in room.get_users() | not_self:user_id track by user_constructor.UserId "></user>
        </md-content>
    </md-sidenav>
</div>



