﻿<md-dialog class="user_profile">
    <md-content>
        <div layout="row">
            <h2 flex="1">Profile</h2>
            <md-button class="md-button md-primary md-default-theme" ng-click="cancel()">X</md-button>
        </div>

        <md-card>
            <md-content>
                <img class="profile_picture" ng-src="/User/ProfilePicture?userId={{get_user_id()}}" />

                <div layout="row">
                    <h4>Username</h4>
                    <md-button ng-show="am_logged_in()" ng-click="edit($event, 'Username')">edit</md-button>
                </div>
                {{get_username()}}
                <div layout="row">
                    <h4>Name</h4>
                    <md-button ng-show="am_logged_in()" ng-click="edit($event, 'RealName')">edit</md-button>
                </div>
                {{get_name()}}
                <div layout="row">
                    <h4>About me</h4>
                    <md-button ng-show="am_logged_in()" ng-click="edit($event, 'AboutMe')">edit</md-button>
                </div>
                {{get_about()}}
            </md-content>
        </md-card>

        <md-card ng-show="am_logged_in()">
            <md-content>
                <h3>Theme</h3>
                <select ng-model="theme" ng-change="update()" ng-options="key as key for (key, val) in get_themes()"></select>
            </md-content>
        </md-card>

        <md-card ng-show="am_logged_in()">
            <md-content class="md-padding">
                <h3>Upload profile picture</h3>
                <form name="form" submitted="submitted" ng-submit="upload_profile()">

                    <input id="upload_file" type="file" name="image" />

                    <md-button class="md-button md-primary">
                        Upload
                    </md-button>
                </form>
            </md-content>
        </md-card>
    </md-content>
</md-dialog>
