
<div layout="row" class="user_main_row" ng-click="show_profile()">
    <span class="online" ng-class="{is_online: user.is_online(), is_offline: !user.is_online()}"></span>
    <img class="logged_in_profile_picture" ng-src="/User/ProfilePicture?userId={{user.user_constructor.UserId}}" />
    <span class="user_name" flex>{{user.get_name()}}</span>
    <img ng-show="user.context_room() && user.is_admin()" class="admin_icon" src="~/Images/hammer.png" title="administrator" />

</div>


<div layout="row" ng-if="!user.is_guest() && !user.context_room()" class="user_buttons">    
    <md-button ng-show="user.is_pending()" title="Cancel contact request" class="md-button md-default-theme md-button-primary" ng-click="user.remove_contact()">
        Cancel
    </md-button>
    <md-button ng-show="!user.is_contact() && !user.is_pending() && !user.is_request()" title="Request contact" class="md-button md-default-theme md-button-primary" ng-click="user.request_contact()">
        Request
    </md-button>
    <md-button ng-show="user.is_request()" title="Accept contact" class="md-button md-default-theme md-button-primary" ng-click="user.accept_contact()">
        Accept
    </md-button>
    <md-button ng-show="user.is_request()" title="Remove contact" class="md-button md-default-theme md-button-primary" ng-click="user.reject_contact()">
        Reject
    </md-button>
    <md-button title="Invite to room" ng-show="!user.in_selected_room() && user.is_online() && get_rooms().length && user.is_contact()" class="md-button md-default-theme md-button-primary md-raised" ng-click="user.call()">
        Invite
    </md-button>
    <md-button ng-show="user.is_contact()" title="Remove contact" class="md-button md-default-theme md-button-primary" ng-click="user.remove_contact()">
        X
    </md-button>
</div>
<div layout="row" ng-if="user.context_room() && am_admin()" class="user_buttons">
    <md-button title="Kick" class="md-button md-default-theme md-button-primary" ng-click="user.kick(room)">
        Kick
    </md-button>
    <md-button ng-show="!user.is_admin() && !user.is_guest()" title="Promote user to admin" class="md-button md-default-theme md-button-primary" ng-click="user.promote(room)">
        Promote
    </md-button>
    <md-button ng-show="user.is_admin() && !user.is_guest()" title="Demote user from admin" class="md-button md-default-theme md-button-primary" ng-click="user.demote(room)">
        Demote
    </md-button>    
</div>
