﻿<video ng-click="setFocused(id)" ng-show="stream.videoEnabled && hasVideoStream()"></video>
<div ng-click="setFocused(id)" style="{{get_profile_picture(id)}}" class="video_image_display" ng-show="!stream.videoEnabled || !hasVideoStream()"></div>
<md-card-content class="video_name">{{stream.name}}</md-card-content>
<div layout="row">
    <div flex="1"></div>
    <div title="{{ stream.audioEnabled ? 'Mute' : 'Unmute' }}" ng-show="hasAudioStream()" ng-class="{toggle_audio_disabled: !stream.audioEnabled}" class="toggler toggle_audio" ng-click="stream.audioEnabled ? disableAudio() : enableAudio()">
    </div>
    <div title="{{ stream.videoEnabled ? 'Disable video' : 'Enable video' }}" ng-show="hasVideoStream()" ng-class="{toggle_video_disabled: !stream.videoEnabled}" class="toggler toggle_video" ng-click="stream.videoEnabled ? disableVideo() : enableVideo()">
    </div><!--
    <br />
    <div title="Bits sent per second" ng-if="peerConnectionStats.totalSent > 0">Sent: {{peerConnectionStats.sentPerSecond}} Kbps</div>
    <br />
    <div title="Bits received per second" ng-if="peerConnectionStats.totalReceived > 0">Received: {{peerConnectionStats.receivedPerSecond}} Kbps</div>-->
    <div flex="1"></div>
    <!--
    <div title="{{ in_fullscreen() ? 'Exit fullscreen' : 'Enter fullscreen' }}" ng-class="{toggle_fullscreen_disabled: in_fullscreen()}" class="toggler toggle_fullscreen" ng-click="toggle_fullscreen()">
        fullscreen
    </div>
        -->
    </div>
