room {
    position:relative;    
    display:flex;
    flex-direction:column;
}

.user_profile {
    margin:10%;
    height:80%;
    width:80%;
}

.admin_icon {
    width:13px;
    height:13px;
}

.user_buttons {
    flex:1;
    justify-content:flex-end;
}

.emoticon_icon {
    display: inline-block;
}

.room_container {
    padding:10px
}

md-checkbox {
    margin-left:5px;
}

.profile_picture {
    max-width:200px;
    max-height:200px;

}
room .room_video_display {
   display:flex;
   flex-direction:column;
}

.users_header {    
    font-size:20px;
    padding-top:4px;
}

.user_main_row {
    align-items:center;
    justify-content:center;
}

room .video_displays {
   display:flex;
   justify-content:space-between;
   margin-bottom:10px;
   flex:1;
}

.users_sidenav {
    margin-left:10px;
}

.room_toolbar {
    padding:10px;
    padding-right:5px;
}

.room_toolbar button, .room_toolbar .md-button {
    margin-right:5px;
}

room .video_container {
    flex:1;
    display:flex;
    flex-direction:column;
    text-align:center;    
    padding:10px;
}

room .video_name {
    font-weight:bold;
    display:block;
    margin-bottom:5px;
    flex:none;
}

room .video_settings {
    text-align:right;
    border-bottom:1px solid white;
}

room .video_settings > div {
    display:inline-block;
}

room chat_box {
    box-sizing:border-box;
    display:flex;
    margin-top:10px;
    flex-direction:column;
    padding:10px;
    height:0;
    flex:auto;
}

.message {
    padding:10px;
    margin-top:10px;
    margin-bottom:10px;
    box-sizing:border-box;     
}

.message_self .message_from {
    color:#000;
}

.message_content {
    margin-top:5px;
    white-space:pre-wrap;
}

.emoticon {
    vertical-align:middle;
}

.message_text {
    flex:1;
    word-break:break-word;
}

.message_date {
    color: #ccc;
    font-size: 12px;
    font-style: italic;
    white-space: nowrap;
}

.message_from {
    font-weight:bold;
   color:rgb(63,81,181);
}

.message_list {
    overflow:auto;
    box-sizing:border-box;
    flex:4;
    word-break:break-all;
}

.chatbox_emoticons_container {
    margin-top:10px;
}

.chatbox_input_container {
    z-index:0;
    background-color:rgba(0, 0, 0, 0.025);
    position:relative;
    padding-bottom:40px;
    min-height:120px;
}

.emoticons_toggler {
    position:absolute;
    bottom:0;
    right:0;
}

.emoticons_content {
   // position:absolute;
 //   top:0;
  //  right:0;
    min-width:50px;    
    max-width:300px;
    max-height:150px;
    border:1px solid #ccc;
}

room chat_box textarea {
    width:100%;
    color:black;
}

room chat_box .confirm_text {
    padding-left:10px;
    padding-right:10px;
    background-position:center;
}

.call {
    position:absolute;
    top:5px;
    right:5px;
}


#header {
    align-items:center;
    padding-left:5px;
    padding-right:5px;
    z-index:2;
}

.video_image_display {    
    flex:1;
    background-position:center;
    background-repeat:no-repeat;
    background-size:contain;
    margin-bottom:10px;
    box-shadow:0 0 5px #222;
}

.in_call {
    background-color:#0c0 !important;
}

.toggle_video {
   
}

.toggler {
     width:24px;
     height:24px;
     background-repeat:no-repeat;
     background-size:100%;
}

.toggler:hover {
    opacity:0.5;
    cursor:default;
}

.room_tab_active {
    background-color:rgba(255, 255, 255, 0.0980392);
}

.room_tab_active_call {
    background-color:rgba(0, 255, 0, 0.3);
}


.toggle_audio {
     background-image:url("https://google.github.io/material-design-icons/av/svg/ic_mic_24px.svg");    
}

.toggle_audio_disabled {
     background-image:url("https://google.github.io/material-design-icons/av/svg/ic_mic_off_24px.svg");
}

.toggle_video {
     background-image:url("https://google.github.io/material-design-icons/av/svg/ic_videocam_24px.svg");    
}

.toggle_video_disabled {
     background-image:url("https://google.github.io/material-design-icons/av/svg/ic_videocam_off_24px.svg");
}

.online {
    border-radius:100px;
    width:15px;
    height:15px;
    margin-right:5px;
}

.search_input_container {
    position: relative;
}

.search_messages_container {
    z-index:0;
}

.clear_search {
    position: absolute;
    right: 0;
    top: 0;
}

.main_content {
    overflow: auto;
}

.not_self {
    background-color: #259b24 !important;
}

.add_room {
    margin: 10px;
}

.rooms_tabs {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.rooms_tabs .md-tabs-content {
    flex:1;
}

.rooms_tabs room {
    height:100%;
}

.rooms_tabs .md-tab-content {
    position:absolute;
    width:100%;
    height:100%;
}

.about_content {
    max-width:800px;
    width:70%;
    max-height:80%;
    overflow:auto;
}

.person_description {
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-top:10px;
    align-items:flex-start;
    box-shadow:0 0 5px #222;
    padding:10px;
}

.person_description img {
    min-width:100px;
    height:100px;
    margin-right:10px;
   // box-shadow:0 0 5px #222;
}

.person_description h3 {
    margin-top:0;
}

user {
    margin-bottom:20px;
    cursor:default;
    align-items:center;
}

.md-button, md-tab {
    text-transform:none;
}

.user_image_name {
    align-items:center;
}

.focused_video_container {
    flex:2;
}

.message_person_image {
    align-self:flex-start;
}

.login_guest {
    display:block;
    margin-top:5px;
    width:100%;
    border-top:1px solid #ccc;
}

.logged_in_profile_picture {
    width:30px;
    height:30px;
    align-self:center;
}

.logged_in_profile_picture {
    box-shadow:0 0 5px #000;
}

.message_item_content {
    padding:5px;
}

.loading_indicator_auth {
    margin-bottom:10px;
}

md-backdrop.md-sidenav-backdrop {
    z-index:1;
    top:64px;
}

.room_has_call md-tab-label {
    color:#0f0;
}

.room_has_message md-tab-label:after {
    content:"*";
    color:red;
    position:absolute;
    font-size:30px;
    top:3px;
    right:3px;
}

.first {
    order:0;
}

video {
    max-width:100%;
    max-height:100%;
    margin-bottom:10px;
    flex:1;
    box-shadow:0 0 5px #222;
    padding:5px;
}

.contact_list_nav {
    z-index:1;
    top:64px;
    overflow:auto;
}

.form_error {
    color:#f00;
}

user .md-button {
    margin-right:5px;
}

user .md-button :last-child {
    margin-right:0;
}

.users_header_main{
    padding:10px;
}

.md-button {
    white-space:normal;
    font-size:1rem;
}

.file_name {
    font-weight:bold;
}

.file_size {
    margin-left:5px;
}

.file_percent {
    margin-left:5px;
}

.file_progress {
    width: 250px;
    height: 10px;
}

.user_name {
    font-size:1rem;
    margin-right:10px;
    margin-left:5px;
    overflow:hidden;
    text-overflow:ellipsis;
}

.is_offline {
    background-color:#f00;
}

.is_online {
    background-color:#0f0;
}

.site-nav {
    position:static;
}

contact-list {
    display:flex;
}

rooms {
    flex:3;
}

.logo {
    width:30px;
    height:30px;
    margin-right:10px;
    vertical-align:top;
}

.logo_name {
    font-size:1.8rem;
    vertical-align:top;
}

.logo_container {
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
}

.large_message_box {
    width:100%;
    height:100%;
    color: #605e5e;
    padding:10px;
    text-align:left;
}

.inner_message_box {
    width: 50%;
    margin: 0 auto;
}

.guideContainer{
    flex-direction:column;
}

.guide {
    width:622px;
    margin-left: auto;
    margin-right: auto;
}

.guide h1, .guide h2, .guide h3, .guide h4, .guide h5, .guide h6 {
    clear:both;
    text-align:left;
}

.guideStep {
    width:622px;
    margin-left: auto;
    margin-right: auto;
}

.guideStep img {
    width:550px;
    height:309px;
}
.guideStep h1, .guideStep h2, .guideStep h3, .guideStep h4, .guideStep h5, .guideStep h6 {
    clear:both;
    text-align:center;
}

.guideStep .previousStep {
    float:left;
}

.guideStep .nextStep {
    float:right;
}