﻿@{
    ViewBag.Title = "404 Page Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="guideContainer">
    <md-toolbar class="md-padding md-whiteframe-z1" layout="row" id="header">
        <div flex>
            <span class="logo_container">
                <a href="~/" style="text-decoration:none; color:#E6E8F6">
                    <img class="logo" src="@Url.Content("~/Images/logo.png")" />
                    <span class="logo_name">Defero</span>
                </a>
            </span>
        </div>
    </md-toolbar>

    <div class="large_message_box">
        <div class="inner_message_box">
            <h1>404 - Page Not Found</h1>
            <p>
                Whoops, looks like we lost you somewhere. <img src="@Url.Content("/Images/emoticons/sweat.gif")" />
            </p>
                <p>Click <a href="/">here</a> to go back to the home page.
            </p>
        </div>
    </div>
</div>
