﻿@{
    ViewBag.Title = "Unsupported Browser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="guideContainer">
    <md-toolbar class="md-padding md-whiteframe-z1" layout="row" id="header">
        <div flex>
            <span class="logo_container">
                <a href="~/" style="text-decoration:none; color:#E6E8F6">
                    <img class="logo" src="@Url.Content("~/Images/logo.png")" />
                    <span class="logo_name">Defero</span>
                </a>
            </span>
        </div>
    </md-toolbar>

    <div class="large_message_box">
        <div class="inner_message_box">
            <h1>Your browser is not supported</h1>
            <p>
                Unfortunately, your browser isn't supported. 
            </p>
            <p>
                To use Defero, you'll need to sign in with desktop versions of 
                <a href="https://www.google.com/chrome/browser/desktop/index.html" target="_blank"><b>Chrome</b></a> or  
                <a href="https://www.mozilla.org/en-US/firefox/new/"><b>Firefox</b></a>,
                or <a href="https://play.google.com/store/apps/details?id=com.android.chrome&pcampaignid=website"><b>Chrome for Android</b></a>.
            </p>
            <p>
                Click <a href="/">here</a> to go back to the home page.
            </p>
            <h2>More Info</h2>
            <p>
                Project Defero uses a technology called WebRTC to enable peer to peer communication between browsers, without using a server
                as a middle-man. This technology is fairly new, with only Chrome and Firefox offering support.
            </p>
        </div>
    </div>
</div>
