﻿@model ProjectDefero.Models.BrowserModel
@{
    ViewBag.Title = "Index";
}

<title>Defero</title>
<md-toolbar class="md-padding md-whiteframe-z1" layout="row" id="header">
    <div flex>
        <span class="logo_container" ng-click="toggle_nav()">
            <!-- From: http://codepen.io/kabadesu/pen/qvdzK -->
            <div ng-show="logged_in && not_guest_user()" class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <img class="logo" src="@Url.Content("~/Images/logo.png")" />
            <span class="logo_name">Defero</span>
        </span>
    </div>
    <auth></auth>
</md-toolbar>
@if (!Model.SignedIn)
{
    <div class="main_content" layout="row" flex ng-cloak>

        <div class="large_message_box">
            <div class="inner_message_box">
                <h3>What is Project Defero?</h3>
                <p>
                    Project Defero is the future of text, voice, and video communication. No plugins, no hassle. <br />
                    Just log in with <a href="https://www.google.com/chrome/browser/desktop/index.html" target="_blank"><b>Chrome</b></a> or <a href="https://www.mozilla.org/en-US/firefox/new/"><b>Firefox</b></a> and start chatting with your friends. <br />
                </p>
                <p>
                    If you would like to host your own Defero server, just click <a href="/installguide">here</a> and follow our install guide.
                </p>
            </div>
        </div>
    </div>
}
<div class="main_content" layout="row" flex ng-if="logged_in">
    <audio id="message_sound" src="~/Content/Sounds/message.mp3"></audio>
    <audio id="file_sound" src="~/Content/Sounds/file.ogg"></audio>
    <audio loop id="call_sound" src="~/Content/Sounds/ring.mp3"></audio>

    <contact-list></contact-list>
    <md-tabs class="rooms_tabs" md-selected="selected_room_index">
        <md-tab title="{{ in_call[room_json.RoomId] ? 'Call in session' : '' }}" ng-class="{room_has_message: has_message(rooms_controller, room_json.RoomId), room_has_call: in_call[room_json.RoomId], room_tab_active: current_room_id === room_json.RoomId, room_tab_active_call: room_json.RoomId === roomInCall.roomID && current_room_id !== room_json.RoomId}" ng-repeat="room_json in get_rooms() track by room_json.RoomId" md-on-select="setRoom(room_json.RoomId)" label="{{room_json.Name}}">
            <!--<md-tab title="{{ in_call[room_json.RoomId] ? 'Call in session' : '' }}" ng-class="{room_has_message: has_message(rooms_controller, room_json.RoomId), room_has_call: in_call[room_json.RoomId], room_tab_active: current_room_id === room_json.RoomId, room_tab_active_call: room_json.RoomId === roomInCall.roomID && current_room_id !== room_json.RoomId}" ng-repeat="room_json in get_rooms() track by $index" md-on-select="setRoom(room_json.RoomId)" label="{{room_json.Name}}">-->
                <room></room>
            </md-tab>
            <md-button title="Add room" class="md-button md-default-theme add_room md-raised md-primary" ng-click="add_room()" ng-show="not_guest_user()">
                +
            </md-button>
</md-tabs>
</div>

