﻿<!DOCTYPE html>
<html lang="en" ng-app="defero">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Project Defero</title>
    <link href="~/Images/logo_black.png" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <script type="text/javascript">
        @if (System.Diagnostics.Debugger.IsAttached)
        {
            <text>DEBUG = true;</text>
        }
        else
        {
            <text>DEBUG = false;</text>
        }
</script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css")

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>
    <script src="//code.angularjs.org/1.3.6/angular-sanitize.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>

    <script src="@Url.Content("~/Scripts/Custom/chatformatter.js")"></script>

    <script src="@Url.Content("~/Scripts/Custom/adapter.js")"></script>

    <script src="@Url.Content("~/Scripts/Custom/peer_rtc_connections.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/peer-rtc.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/local-rtc.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/signaling.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/online_users.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/app.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/rooms_controller.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/themes.js")"></script>


    <!-- Text chat components. -->
    <script src="@Url.Content("~/Scripts/Custom/chat_model/localforage.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/chat_model/chat_utility.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/chat_model/chat_data_chunk_set.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/chat_model/chat_callback_function_list.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/chat_model/chat_timer.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/chat_model/chat_local_profile.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/chat_model/chat_local_profile_encapsulation.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/chat_model/chat_last_message_received_set.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/chat_model/chat_last_message_sent_set.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/chat_model/chat_local_database.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/chat_model/chat_text_message.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/chat_model/chat_text_message_filter.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/chat_model/chat_text_message_buffer.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/chat_model/chat_text_message_set.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/chat_model/chat_client_message.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/chat_model/chat_message_history_request.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/chat_model/chat_file_metadata.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/chat_model/chat_file_sender.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/chat_model/chat_file_receiver.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/chat_model/chat_model.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/chat_box.js")"></script>

    <script src="@Url.Content("~/Scripts/Custom/auth.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/local_video_stream.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/video_stream.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/users_sidenav.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/room.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/user.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/contact_list.js")"></script>  

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.7.1/angular-material.min.css">
    @*Custom styles*@    
    <link rel="icon" type="image/png" href="@Url.Content("~/Images/logo_black.png")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Custom/common.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Custom/hamburger.css")">

</head>
<body md-theme="{{get_current_theme()}}" layout="column" ng-controller="AppController as appCtrl">
    @*<div id="userSettings">
        @Html.Partial("_UserSettings")
    </div>*@

    @RenderBody()

    @*<footer>
        <nav>
            <ul id="menu">
                <li>@Html.ActionLink("Todo List", "Index", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("API", "Index", "Help", new { area = "HelpPage" }, null)</li>
            </ul>
        </nav>
        <p>&copy; @DateTime.Now.Year - Project Defero</p>
    </footer>*@

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)



    @*Custom scripts*@


    @RenderSection("Javascript", required: false) @*Render any Javascript specific to the page via this call*@
</body>
</html>